body {
    position: relative;
}

.fdtcme-banner {
    position: fixed;
    left: -180px;
    width: 200px;
    height: 50px;
    background: darkorange;
    border-radius: 0 5px 5px 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.fdtcme-banner p {
    font-weight: bold;
    font-size: 15px;
    margin: auto;
}

.fdtcme-banner p a {
    color: white;
    text-decoration: none;
}

.fdtcme-banner p a:hover {
    color: black;
}


.fdtcme-banner-open {
    left: 0;
    transition: all 0.15s cubic-bezier(.215, .61, .355, 1);
}