body {
    /* border: 1px solid red; */
    position: relative;
}

p{
    font-weight: bold;
}

p a{
    color:black;
}

p a:hover{
    color: white;
}

.fdtcme-banner {
    position: fixed;
    /* top:50px; */
    left: -180px;
    width: 200px;
    height: 50px;
    font-size: 11px;
    padding:10px;
    margin:0;
    background: darkorange;
    z-index: 999999;
    text-align: center;
    color: #fff;
 
    border-radius: 0 5px 5px 0;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.fdtcme-banner-open {
    left: 0;
    transition: all 0.15s cubic-bezier(.215, .61, .355, 1);

}

